:root {
  background: var(--dark);
  color: white;
  --color-A: rgb(0, 76, 255);
  --color-A: rgb(255, 255, 255);
  --color-A: rgb(133, 0, 181);
  --rainbow-A: rgb(185, 28, 0);
  --rainbow-B: rgb(255, 97, 0);
  --rainbow-C: rgb(255, 215, 0);
  --rainbow-D: rgb(0, 188, 62);
  --rainbow-E: rgb(0, 108, 255);
  --rainbow-A_bright: #D62404;
  --rainbow-B_bright: #FF794D;
  --rainbow-C_bright: #FFFB00;
  --rainbow-D_bright: #00FF6A;
  --rainbow-E_bright:#00CCFF; 
  --dark:rgb(40,40,40);
  --dark:rgb(66, 66, 66);



  font-family: "Michroma", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Noto Sans Symbols 2", sans-serif;
  font-family: "Sometype Mono", monospace;
  font-family: "Michroma", sans-serif;
  font-family: "Azeret Mono", monospace;
  letter-spacing: -0.05em;
  font-optical-sizing: auto;


  user-select: none;
}

@font-face {
  font-family: "d-dinregular";
  src: url("file:C:/Users/Andrew/Documents/GitHub/cc4/fonts/d-din-webfont.woff2") format("woff2"),
    url("file:C:/Users/Andrew/Documents/GitHub/cc4/fonts/d-din-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "d-dindin-bold";
  src: url("file:C:/Users/Andrew/Documents/GitHub/cc4/fonts/d-din-bold-webfont.woff2") format("woff2"),
    url("file:C:/Users/Andrew/Documents/GitHub/cc4/fonts/d-din-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "d-din_condenseddinCnBd";
  src: url("file:C:/Users/Andrew/Documents/GitHub/cc4/fonts/d-dincondensed-bold-webfont.woff2") format("woff2"),
    url("file:C:/Users/Andrew/Documents/GitHub/cc4/fonts/d-dincondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

notoSymbol {
  font-family: "Noto Sans Symbols 2", sans-serif;
}
notoSymbol2 {
  font-family: "Noto Sans Symbols 2", sans-serif;
  font-size: smaller;
}

h1 {
  font-family: "Michroma", sans-serif;
  text-align: right;
  font-size: 2em;
  font-weight: 900;
  line-height: 1em;
}

#headerDivID {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: white;
  box-shadow: 10px  10px 5px rgba(255, 255, 255, 0.6);
  height: 50px;
}

#titleDivID {
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  grid-column: 1;
  font-size: 3em;
  letter-spacing: -0.05em;
  position: relative;
  top: -20px;
}
#versionDivID {
  position: relative;
  text-align: right;
  letter-spacing: -0.05em;

  /* font-family: "Sometype Mono", monospace; */
}

#bodyDivID {
  display: flex;
  background: repeating-linear-gradient(-45deg, var(--color-A) 0px, var(--color-A) 20px, var(--dark) 20px, var(--dark) 40px);
  background: repeating-linear-gradient(-45deg, var(--rainbow-A) 0px, var(--rainbow-A) 20px, var(--dark) 20px, var(--dark) 40px,
  var(--rainbow-B) 40px, var(--rainbow-B) 60px, var(--dark) 60px, var(--dark) 80px,
  var(--rainbow-C) 80px, var(--rainbow-C) 100px, var(--dark) 100px, var(--dark) 120px,
  var(--rainbow-D) 120px, var(--rainbow-D) 140px, var(--dark) 140px, var(--dark) 160px,
  var(--rainbow-E) 160px, var(--rainbow-E) 180px, var(--dark) 180px, var(--dark) 200px);

  min-height: 80vh;
}

.elementGroup {
  color: var(--dark);
  background: rgba(255, 255, 255, 00);
}
.elementGroupContainer {
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  margin: 10px;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 40px 40px 40px 40px  /* box-shadow: 5px 5px rgba(0, 0, 0, 0.5), -5px -5px rgba(255, 255, 255, 0.5); */
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.66); */
  box-shadow: 5px 5px  var(--dark);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  transition: background 2s, box-shadow 2s,backdrop-filter 2s;

  /* transition: box-shadow 2s; */

}
.elementGroupContainer:hover{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 7px 7px 2px var(--dark);
  backdrop-filter: blur(10px);

  transition: background 0.3s, box-shadow 1s,backdrop-filter 1s;

}
.elementGroupHeader {
  height: 40px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  padding: 5px 10px;
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  text-align: right;
  font-size: 1.2em;
  letter-spacing: -0.03em;
  line-height: 1em;
  grid-column: 1 / span 3;
  text-align: right;
  font-family: "Azeret Mono", monospace;
}
.elementGroupHeader:hover {
  background: rgba(0, 68, 255, 1);
  /* background: linear-gradient(-20deg, rgba(0, 68, 255, 1) 0%, rgb(0, 166, 255) 100%); */
  color: white;
}
.elementGroupProgressBar {
  /* border-style: solid; */
  border-width: 0 10px;
  height:25px;
  border-color: transparent;
  grid-row: 2;
  grid-column: 1 / span 3;
  color: hsl(0, 0%, 50%);
  color: white;
  padding: 5px;
  text-align: right;
  align-items: center;
  justify-content: center;
}
.elementGroupProgressText {
  height: 40px;
  padding: 0 15px;
  grid-row: 3;
  grid-column: 1 / span 3;
  font-weight: 700;
  text-align: right;
  color: hsl(0, 0%, 50%);
  color: rgb(40, 40, 40);
  font-weight: 400;
}

.elementGroupAddSub {
  font-size: 3em;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-radius: 20px;
  text
}
.elementGroupAddSub[data-state="active"] {
  color: var(--dark);
}
.elementGroupAddSub[data-state="active"]:hover {
  /* background: rgba(0, 68, 255, 1);
  background: linear-gradient(-20deg, rgba(0, 68, 255, 1) 0%, rgb(0, 166, 255) 100%); */
  color: var(--rainbow-D);
}
.elementGroupAddSub[data-state="inactive"] {
  color: grey;
}

.elementGroupCounter {
  font-size: 4em;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Sometype Mono", monospace;
}



.elementGroupMinorHeader{
  /* height: 20px; */
  padding: 5px 10px;
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -0.03em;
  /* line-height: 1em; */
  grid-column: 1 / span 3;
  text-align: right;
  font-family: "Azeret Mono", monospace;
  justify-content: bottom ;
  align-items: bottom;
}


.elementGroupSubContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr 1fr;
}

.subGroup{
  padding: 5px 10px;
  font-family: "Michroma", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -0.03em;
  /* line-height: 1em; */
  /* grid-column: 1 / span 3; */
  text-align: right;
  font-family: "Azeret Mono", monospace;
  justify-content: bottom ;
  align-items: bottom;
  color: var(--dark);
}

.elementGroupSmallButton{
  position: relative;
  top: -5px;
  font-size: 2em;
  overflow: hidden;
  text-align: center;
}
.elementGroupSmallButton:hover{
}

.goButton{
  color: var(--rainbow-D);

}
.goButton:hover{
  color: white;
  color: var(--rainbow-D_bright);


}

.noButton{
  color: var(--rainbow-A);
}

.noButton:hover{
  color: white;
  color: var(--rainbow-A_bright);


}

#modalOuterID {
  z-index: 20;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
  background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px),
    repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px),
    linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
  /* backdrop-filter: blur(20px); */
  background-image: linear-gradient(
      45deg,
      rgb(240, 92, 24) 0%,
      rgb(240, 92, 24) 18%,
      rgb(239, 116, 49) 18%,
      rgb(239, 116, 49) 33%,
      rgb(238, 140, 73) 33%,
      rgb(238, 140, 73) 38%,
      rgb(237, 165, 98) 38%,
      rgb(237, 165, 98) 53%,
      rgb(235, 189, 122) 53%,
      rgb(235, 189, 122) 56%,
      rgb(234, 213, 147) 56%,
      rgb(234, 213, 147) 83%,
      rgb(233, 237, 171) 83%,
      rgb(233, 237, 171) 100%
    ),
    linear-gradient(
      0deg,
      rgb(240, 92, 24) 0%,
      rgb(240, 92, 24) 18%,
      rgb(239, 116, 49) 18%,
      rgb(239, 116, 49) 33%,
      rgb(238, 140, 73) 33%,
      rgb(238, 140, 73) 38%,
      rgb(237, 165, 98) 38%,
      rgb(237, 165, 98) 53%,
      rgb(235, 189, 122) 53%,
      rgb(235, 189, 122) 56%,
      rgb(234, 213, 147) 56%,
      rgb(234, 213, 147) 83%,
      rgb(233, 237, 171) 83%,
      rgb(233, 237, 171) 100%
    ),
    linear-gradient(
      67.5deg,
      rgb(240, 92, 24) 0%,
      rgb(240, 92, 24) 18%,
      rgb(239, 116, 49) 18%,
      rgb(239, 116, 49) 33%,
      rgb(238, 140, 73) 33%,
      rgb(238, 140, 73) 38%,
      rgb(237, 165, 98) 38%,
      rgb(237, 165, 98) 53%,
      rgb(235, 189, 122) 53%,
      rgb(235, 189, 122) 56%,
      rgb(234, 213, 147) 56%,
      rgb(234, 213, 147) 83%,
      rgb(233, 237, 171) 83%,
      rgb(233, 237, 171) 100%
    ),
    linear-gradient(
      22.5deg,
      rgb(240, 92, 24) 0%,
      rgb(240, 92, 24) 18%,
      rgb(239, 116, 49) 18%,
      rgb(239, 116, 49) 33%,
      rgb(238, 140, 73) 33%,
      rgb(238, 140, 73) 38%,
      rgb(237, 165, 98) 38%,
      rgb(237, 165, 98) 53%,
      rgb(235, 189, 122) 53%,
      rgb(235, 189, 122) 56%,
      rgb(234, 213, 147) 56%,
      rgb(234, 213, 147) 83%,
      rgb(233, 237, 171) 83%,
      rgb(233, 237, 171) 100%
    ),
    linear-gradient(90deg, rgb(243, 116, 163), rgb(252, 182, 229));
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

#modalContainerID {
  /* line-height: 0.9em; */
  margin: 100px 100px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(100px);
  font-size: 2em;
  padding: 0 60px;
  height: 76%;
  border-style: solid;
  border-color: var(--dark);
  border-width: 10px;
  color: var(--dark);
  border-radius: 10px;
}
